body{
    background-color: brown;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.50%;
}

header{
    background-color: gold;
    padding-top: 2%;
}

#bt{
    padding: 11px;
    float: right;
}

main{
    background-color: bisque;
    padding: 10px;
    padding-right: 1%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

img{
    padding-top: 5%;
    margin: auto;
    width: 75%;
    height: 75%;
}