body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;   
}

.button{
    background: coral;
    padding: 1em 2em;
    color: white;
    border: 0;
}

.button:hover{
    background: blueviolet;
}

.modal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-content{
    background-color: bisque;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    animation-name: modalopen;
    animation-duration: 0.7s;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from {opacity: 0;}
    to {opacity: 1;}
}