<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Tutorial</title>
    <style>
        .box{
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{greeting}}
        <input @keyup.enter="greet" v-model="greeting"/>
        
        <hr>
        
        <button @click="toggleBox">ToggleBox</button>
        <div v-if="isVisible" class="box"></div>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function(){
                return{
                    greeting: "Hello Vue 3!",
                    isVisible: true
                }
            },
            methods: {
                toggleBox(){
                    this.isVisible = !this.isVisible;
                },
                greet(){
                    console.log(this.greeting)
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>